
# ignore data files. Must manually configure
pnet_data

# debug/experimental code
scratch

# results/logs
wandb
models/
result/
results/
images/
visualizations/

# ignore containers. These are not tracked here
containers/*

# ignore pred files
pi0*

nohup.out
training_log.csv
jupyter_logbook.txt
ip.txt

__pycache__
__pycache__/
*/__pycache__
models/__pycache__/
PointNetModel.keras
.idea/