# ignore data files. Must manually configure
pnet_data
*.npy
*.npz
*.json
*.root
*.log

# debug/experimental code
scratch
old_framework/notebooks/root_images

# results/logs
wandb
models/
result/
results/
notebooks/
images/
visualizations/

adgadkjhasgdkj

# coverage files
htmlcov/
.coverage
.coverage.*
.coverage-*
test-results.xml
coverage.xml

# ignore containers. These are not tracked here
containers/*

# ignore pred files
pi0*

nohup.out
training_log.csv
jupyter_logbook.txt
ip.txt

__pycache__
__pycache__/
*/__pycache__
models/__pycache__/
PointNetModel.keras
.idea/
old_framework/notebooks/joshua_working_notebooks
.DS_Store
